name: Android Release Build

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Decode keystore file
      run: |
        echo "${{ secrets.KEYSTORE_BASE64 }}" > keystore.b64
        base64 -d keystore.b64 > sentinel.keystore
        
    - name: Build with Gradle
      run: ./gradlew assembleRelease
      env:
        SIGNING_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        SIGNING_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        SIGNING_STORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: sentinel-app-release
        path: app/build/outputs/apk/release/app-release.apk
